{% extends 'base.html' %}
{% load static %}

<head>
    
    <style>
        .modal-content {
            border-radius: 0;
        }
    </style>
</head>
{% block content %}
<div class="modal fade" id="subscriptionsModal" tabindex="-1" role="dialog" aria-labelledby="subscriptionsModalLabel"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="subscriptionsModalLabel">Подписки пользователя</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th>Дата подписки</th>
                            <th>Год</th>
                            <th>Месяц</th>
                        </tr>
                    </thead>
                    <tbody id="subscriptionsTableBody">
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>



    <div class="row">
        <div class="col-md-12">
            <h2>Пользователи</h2>
            <h2>
                <a class="btn-icon" href="{% url 'new_user' %}">
                  <i class="bx bx-add-to-queue"></i>
                </a>
              </h2>
              
            
            <div class="table-responsive">
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th>Имя</th>
                            <th>Телеграм Id</th>
                            <th>Действия</th>  
                        </tr>
                    </thead>
                    <tbody>
                        {% for user in users_list %}
                            <tr>
                                <td>{{ user.name }}</td>
                                <td>{{ user.tg_id }}</td>
                                <td>
                                    <button class="btn btn-link subscriptions-btn" data-user-id="{{ user.id }}">
                                        <i class="bx bx-list-ul"></i> Подписки
                                    </button>
                                    <a href="{% url 'delete_user' user.id %}" class="btn btn-link">
                                        <i class="bx bx-trash"></i> Удалить
                                    </a>
                                    <a href="{% url 'edit_username' user.id %}" class="btn btn-link">
                                        <i class="bx bx-edit"></i> Редактировать
                                    </a>
                                </td>
                            </tr>
                        {% empty %}
                            <tr>
                                <td colspan="4">Пользователи не найдены</td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>

{% endblock %}



<script>


    function getCookie(name) {
    var cookieValue = null;
    if (document.cookie && document.cookie !== '') {
        var cookies = document.cookie.split(';');
        for (var i = 0; i < cookies.length; i++) {
        var cookie = cookies[i].trim();
        if (cookie.substring(0, name.length + 1) === (name + '=')) {
            cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
            break;
        }
        }
    }
    return cookieValue;
    }




    var csrftoken = getCookie('csrftoken');
    $.ajaxSetup({
    beforeSend: function(xhr, settings) {
        if (!(/^http:.*/.test(settings.url) || /^https:.*/.test(settings.url))) {
        xhr.setRequestHeader("X-CSRFToken", csrftoken);
        }
    }
    });


    $(document).ready(function() {
        console.log('!!!');
        $('.subscriptions-btn').click(function() {
            var userId = $(this).data('user-id');
            console.log(userId);
            var url = '/user/subscriptions/' + userId + '/';  

            $.ajax({
                url: url,
                type: 'GET',
                success: function(data) {
                    var subscriptions = data.subscriptions;

                    $('#subscriptionsTableBody').empty();

                    if (subscriptions.length > 0) {
                        for (var i = 0; i < subscriptions.length; i++) {
                            var subscription = subscriptions[i];
                            var subscriptionDate = subscription.subscription_date;
                            var year = subscription.year;
                            var month = subscription.month;

                            // Добавляем строки с подписками в таблицу
                            var row = '<tr>' +
                                '<td>' + subscriptionDate + '</td>' +
                                '<td>' + year + '</td>' +
                                '<td>' + month + '</td>' +
                                '</tr>';

                            $('#subscriptionsTableBody').append(row);
                        }
                    } else {
                        // Если подписок нет, добавляем сообщение
                        var emptyRow = '<tr><td colspan="3">У пользователя нет подписок</td></tr>';
                        $('#subscriptionsTableBody').append(emptyRow);
                    }

                    // Открываем модальное окно
                    $('#subscriptionsModal').modal('show');
                },
                error: function(xhr, textStatus, error) {
                    console.log(xhr.statusText);
                }
            });
        });
    });
</script>
